<div class="position-relative overflow-hidden p-5 text-center bg-body-tertiary brand-image">
    <div class="col-md-6 p-lg-5 mx-auto">
      <h1 class="display-3 fw-bold text-white">Software for the spectacle industry</h1>
      <h3 class="fw-normal mb-3 text-white">We design software for the manufacturing and processing of spectacle lenses.</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="text-white" href="#">
          Learn more
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
        <a class="text-white" href="#">
          Buy
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>