.brand-image{
    background-blend-mode: overlay;
    background-image: url(https://media.licdn.com/dms/image/D5612AQE4_fFd991PLQ/article-cover_image-shrink_720_1280/0/1691590758304?e=2147483647&v=beta&t=OvNjZUgaX9zaBESk-3R_X1ReexDPn_Z1CCHwRNgw2IA);
    background-color: rgb(90 123 146 / 50%)!important;
    background-size: cover;
}