<ul class="list-unstyled w-100">
    <li (click)="onLinkClicked('WebOrdering')" class="py-3 link" [ngClass]="isActive('WebOrdering')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Web Ordering</h3>
    </li>
    <li (click)="onLinkClicked('OrderProcessing')" class="py-3 link" [ngClass]="isActive('OrderProcessing')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Order Processing</h3>
    </li>
    <li (click)="onLinkClicked('Wholesale')" class="py-3 link" [ngClass]="isActive('Wholesale')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Wholesale Ordering</h3>
    </li>
    <li (click)="onLinkClicked('LensDesign')" class="py-3 link" [ngClass]="isActive('LensDesign')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Lens Design</h3>
    </li>
    <li (click)="onLinkClicked('Manufacturing')" class="py-3 link" [ngClass]="isActive('Manufacturing')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Manufacturing Software</h3>
    </li>
    <li (click)="onLinkClicked('FrameOrdering')" class="py-3 link" [ngClass]="isActive('FrameOrdering')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Frame Ordering</h3>
    </li>
    <li (click)="onLinkClicked('DigitalTwin')" class="py-3 link" [ngClass]="isActive('DigitalTwin')? 'active':'inactive'">
        <h3 class="fs-2 fw-bold">Digital Twins</h3>
    </li>
    <!-- Add more menu items here -->
</ul>
