
<div class="row g-3 d-flex justify-content-center mx-5 mb-5">
<div class="col-12">
    <h1 class="display-3 fw-bold d-flex justify-content-center">Meet The Team</h1>
  </div>
  <div class="col-md-6 border-bottom">

  </div>
</div>

<div class="text-center mx-5">
    <div class="row d-flex">
      <div class="col-md-4">
        <div class="p-3"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-Lv4wpLPRWRkDhq5-PADQ6sEI67nmK3H9Q&usqp=CAU" class="img">
            <h2 class="fw-normal">David</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            </div>
      </div>
      <div class="col-md-4">
        <div class="p-3"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEbow48xY8cTfdcwDZDstCyk6HiPAf9fLLrQ&usqp=CAU" class="img">
            <h2 class="fw-normal">Tyron</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            </div>
      </div>
      <div class="col-md-4">
        <div class="p-3"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-Lv4wpLPRWRkDhq5-PADQ6sEI67nmK3H9Q&usqp=CAU" class="img">
            <h2 class="fw-normal">Martin</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            </div>
      </div>
      <div class="col-md-4">
        <div class="p-3"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEbow48xY8cTfdcwDZDstCyk6HiPAf9fLLrQ&usqp=CAU" class="img">
            <h2 class="fw-normal">Mike</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            </div>
      </div>
      <div class="col-md-4">
        <div class="p-3"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-Lv4wpLPRWRkDhq5-PADQ6sEI67nmK3H9Q&usqp=CAU" class="img">
            <h2 class="fw-normal">Mark</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            </div>
      </div>
      <div class="col-md-4">
        <div class="p-3"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEbow48xY8cTfdcwDZDstCyk6HiPAf9fLLrQ&usqp=CAU" class="img">
            <h2 class="fw-normal">Chris</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            </div>
      </div>
    </div>
  </div>
