<div class="row g-3 d-flex justify-content-center mx-5 mb-5">
    <div class="col-12">
        <h1 class="display-3 fw-bold d-flex justify-content-center">Our Software</h1>
      </div>
      <div class="col-md-6 border-bottom">

      </div>
    </div>
<div class="row g-4 row-cols-1 row-cols-lg-4 mx-5">
    <div class="feature col">
      <i class="bi bi-archive-fill fs-2"></i>
      <h3 class="fs-2">Annapurna</h3>
      <p>This software covers all the tasks that an optical lens manufacturing lab need.
        Order management, Order Pricing, Purchasing, Inventory management and Financial Interface.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
        <i class="bi bi-archive-fill fs-2"></i>
        <h3 class="fs-2">Solenzara</h3>
        <p>This allows opticians to place orders either online or by connecting to the Solenzara
            web-service.
            There is an option to connect tracers to our software so that remote edged lenses can be supplied.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <i class="bi bi-archive-fill fs-2"></i>
        <h3 class="fs-2">Kalahari</h3>
        <p>This module calculates the lens design parameters for both conventional lenses and communicates
            with the leading freeform design engines.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <i class="bi bi-archive-fill fs-2"></i>
        <h3 class="fs-2">Orinoco</h3>
        <p>This module allows labs to place orders with other labs for finished lenses and semi-finished
            blanks.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    
  </div>


<!-- <div class="row g-3 d-flex justify-content-center">
    <div class="col-lg-3 col-md-6">
        <i class="bi bi-archive-fill me-3 d-flex justify-content-center p-3" style="font-size: 30px;"></i>
        <h3 class="d-flex justify-content-center fw-bold mb-0 fs-4 p-3">Annapurna</h3>


      <div class="row d-flex justify-content-center p-3">
        <p>This software covers all the tasks that an optical lens manufacturing lab need.
          Order management, Order Pricing, Purchasing, Inventory management and Financial Interface</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <i class="bi bi-archive-fill me-3 d-flex justify-content-center" style="font-size: 30px;"></i>
      <h3 class="d-flex justify-content-center fw-bold mb-0 fs-4">Solenzara</h3>


    <div class="row d-flex justify-content-center">
      <p>This allows opticians to place orders either online or by connecting to the Solenzara
        web-service.
        There is an option to connect tracers to our software so that remote edged lenses can be supplied.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <i class="bi bi-archive-fill me-3 d-flex justify-content-center" style="font-size: 30px;"></i>
    <h3 class="d-flex justify-content-center fw-bold mb-0 fs-4">Kalaheri</h3>


  <div class="row d-flex justify-content-center">
    <p>This module calculates the lens design parameters for both conventional lenses and communicates
      with the leading freeform design engines.</p>
  </div>
</div>
<div class="col-lg-3 col-md-6">
  <i class="bi bi-archive-fill me-3 d-flex justify-content-center" style="font-size: 30px;"></i>
  <h3 class="d-flex justify-content-center fw-bold mb-0 fs-4">Orinoco</h3>


<div class="row d-flex justify-content-center">
  <p>This module allows labs to place orders with other labs for finished lenses and semi-finished
    blanks.</p>
</div>
</div>

  </div> -->
