.annapurna-brand{
    background-blend-mode: overlay;
    background-image: url(https://www.hawkstonedesign.co.uk/images/background1-h_klr655v7.jpg);
    background-color: rgb(90 123 146 / 50%)!important;
    background-size: cover;
}

.kalahari-brand{
    background-blend-mode: overlay;
    background-image: url(	https://www.hawkstonedesign.co.uk/images/background5-h_klr5zdgk.jpg);
    background-color: rgb(90 123 146 / 50%)!important;
    background-size: cover;
}

.orinoco-brand{
    background-blend-mode: overlay;
    background-image: url(	https://www.hawkstonedesign.co.uk/images/background6-h_klr5xtf0.jpg);
    background-color: rgb(90 123 146 / 50%)!important;
    background-size: cover;
}

.solenzara-brand{
    background-blend-mode: overlay;
    background-image: url(https://www.hawkstonedesign.co.uk/images/background4-h_klpnfr2s.jpg);
    background-color: rgb(90 123 146 / 50%)!important;
    background-size: cover;
    
}

.section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}