<div class="row g-3 d-flex justify-content-center">
    <div class="col-sm-6">
      <app-box-content [borderColour]="'gray'">
        <div class="p-3">
        <h3>Heading</h3>
        <p>
          We engineer digital solutions of any complexity, combining our multidisciplinary tech expertise with industry
          experience.
        </p>
      </div>
      </app-box-content>

    </div>
    <div class="col-sm-6">
      <app-box-content [borderColour]="'gray'">
        <div class="p-3">
        <h3>Heading</h3>
        <p>
          We engineer digital solutions of any complexity, combining our multidisciplinary tech expertise with industry
          experience.
        </p>
      </div>
      </app-box-content>

    </div>
    <div class="col-12">
      <app-box-content [borderColour]="'gray'">
        <div class="p-3">
        <h3>Heading</h3>
        <p>
          We engineer digital solutions of any complexity, combining our multidisciplinary tech expertise with industry
          experience.
        </p>
      </div>
      </app-box-content>

    </div>
    <div class="col-sm-6">
      <app-box-content [borderColour]="'gray'">
        <div class="p-3">
        <h3>Heading</h3>
        <p>
          We engineer digital solutions of any complexity, combining our multidisciplinary tech expertise with industry
          experience.
        </p>
      </div>
      </app-box-content>

    </div>
    <div class="col-sm-6">
      <app-box-content [borderColour]="'gray'">
        <div class="p-3">
        <h3>Heading</h3>
        <p>
          We engineer digital solutions of any complexity, combining our multidisciplinary tech expertise with industry
          experience.
        </p>
      </div>
      </app-box-content>

    </div>

  </div>
