<div id="carouselExampleControls" class="carousel d-lg-flex d-none d-xl-none">
    <div #innerCarousel class="carousel-inner">
        <div #item class="carousel-item active">
            <div class="card">
                <img src="assets/example-factory.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="assets/glazing.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="assets/frames.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="assets/lenses.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="assets/example-factory.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <button (click)="onPrevClick()" class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button (click)="onNextClick()" class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>






<div class="row d-none g-0 d-flex d-xl-flex justify-content-center">
    <div class="col-6">
        <div class="row g-0 d-flex">
            <div class="col-6">
                <img style="width: 100%;" class="img img-fluid" src="assets/example-factory.jpg">
            </div>
            <div style="background: rgb(34, 84, 133);"
                class="col-6 text-white d-flex flex-wrap align-content-evenly px-xxl-5 px-5 pt-3 pt-xxl-5 pb-xxl-5 pb-0 ">
                <div>
                    <h6>Case Study</h6>
                </div>
                <div>
                    <h3 class="fs-6 fw-bold">Wholesale App: Giving customers a mobile friendly experience</h3>
                </div>
                <div>
                    <p class="fs-6">Learn how business intelligence transforms marketing by exploring its common use
                        cases, key integrations, benefits.
                    </p>
                </div>


            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="row g-0 d-flex">

            <div class="col-6 h-100">
                <img style="width: 100%;" class="img img-fluid" src="assets/glazing.jpg">
            </div>
            <div class="col-6 text-dark d-flex flex-wrap align-content-evenly px-xxl-5 px-5 pt-3 pt-xxl-5 pb-xxl-5 pb-0 "
                style="background:white;">
                <div>
                    <h6>Case Study</h6>
                </div>
                <div>
                    <h3 class="fs-6 fw-bold">Wholesale App: Giving customers a mobile friendly experience</h3>
                </div>
                <div>
                    <p class="fs-6">Learn how business intelligence transforms marketing by exploring its common use
                        cases, key integrations, benefits.
                    </p>
                </div>


            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="row g-0 d-flex">

            <div class="col-6 text-dark d-flex flex-wrap align-content-evenly px-xxl-5 px-5 pt-3 pt-xxl-5 pb-xxl-5 pb-0 "
                style="background:white;">
                <div>
                    <h6>Case Study</h6>
                </div>
                <div>
                    <h3 class="fs-6 fw-bold">Wholesale App: Giving customers a mobile friendly experience</h3>
                </div>
                <div>
                    <p class="fs-6">Learn how business intelligence transforms marketing by exploring its common use
                        cases, key integrations, benefits.
                    </p>
                </div>


            </div>
            <div class="col-6">
                <img style="width: 100%;" class="img img-fluid" src="assets/frames.jpg">
            </div>


        </div>
    </div>
    <div class="col-6">
        <div class="row g-0 d-flex">

            <div class="col-6" style="background: rgb(41 67 93);"
                class="col-6 text-white d-flex flex-wrap align-content-evenly px-xxl-5 px-5 pt-3 pt-xxl-5 pb-xxl-5 pb-0 ">
                <div>
                    <h6>Case Study</h6>
                </div>
                <div>
                    <h3 class="fs-6 fw-bold">Wholesale App: Giving customers a mobile friendly experience</h3>
                </div>
                <div>
                    <p class="fs-6">Learn how business intelligence transforms marketing by exploring its common use
                        cases, key integrations, benefits.
                    </p>
                </div>

            </div>
            <div class="col-6">
                <img style="width: 100%;" class="img img-fluid" src="assets/lenses.jpg">
            </div>


        </div>
    </div>

</div>


<!-- Menu for small screens -->
<div class="row d-flex d-lg-none">
    <div class="col-12">
        <div class="menu-container">
            <div class="menu-items">
                <ul class="m-0 list-inline">
                    <li class="list-inline-item p-3">
                        <div class="image-container">
                            <img width="100%" class="img img-fluid image-scroller" src="assets/example-factory.jpg">
                            <div class="overlay"></div>
                            <div class="mobile-description p-5">
                                <h3 class="fs-2 fw-bold text-wrap">Wholesale App: Giving customers a mobile friendly experience</h3>
                                <div>
                                <p class="fs-5 text-wrap">Learn how business intelligence transforms marketing by exploring its common use
                                    cases, key integrations, benefits.
                                </p>
                                </div>
                            </div>
                        </div>
                        
                    </li>
                    <li class="list-inline-item p-3">
                        <div class="image-container">
                            <img width="100%" class="img img-fluid image-scroller" src="assets/glazing.jpg">
                            <div class="overlay"></div>
                            <div class="mobile-description p-5">
                                <h3 class="fs-2 fw-bold text-wrap">Wholesale App: Giving customers a mobile friendly experience</h3>
                                <div>
                                <p class="fs-5 text-wrap">Learn how business intelligence transforms marketing by exploring its common use
                                    cases, key integrations, benefits.
                                </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item p-3">
                        <div class="image-container">
                            <img width="100%" class="img img-fluid image-scroller" src="assets/frames.jpg">
                            <div class="overlay"></div>
                            <div class="mobile-description p-5">
                                <h3 class="fs-2 fw-bold text-wrap">Wholesale App: Giving customers a mobile friendly experience</h3>
                                <div>
                                <p class="fs-5 text-wrap">Learn how business intelligence transforms marketing by exploring its common use
                                    cases, key integrations, benefits.
                                </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item p-3">
                        <div class="image-container">
                            <img width="100%" class="img img-fluid image-scroller" src="assets/example-factory.jpg">
                            <div class="overlay"></div>
                            <div class="mobile-description p-5">
                                <h3 class="fs-2 fw-bold text-wrap">Wholesale App: Giving customers a mobile friendly experience</h3>
                                <div>
                                <p class="fs-5 text-wrap">Learn how business intelligence transforms marketing by exploring its common use
                                    cases, key integrations, benefits.
                                </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>